<nav>
    <div class="site-title">
       <a href="/"><h1>GRG</h1></a>
       <p>blogs</p>
    </div>
    <ul>
       <li><a href="/">blogs</a></li>
       <li><a href="/about">about</a></li>
       <li><a href="/blogs/create">new_blog</a></li>

    </ul>
  </nav>