<!DOCTYPE html>
<html lang="en">
   <%-include('./partials/head.ejs')%>
<body>
   <%-include('./partials/nav.ejs')%>
   
     </ul>
   </nav>
   <div class="blogs content">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
      <h2>all blogs</h2>
          <p>not found uh bro</p>                                                                                                          
   </div>
   <%-include('./partials/footer.ejs')%>
</body>
</html>                                                                                                                                                                                                                                                                                                     