<!DOCTYPE html>
<html lang="en">
   <%-include('./partials/head.ejs')%>
<body>
   <%-include('./partials/nav.ejs')%>
   
   <div class="about content">                
      <h2>all blogs</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius unde, adipisci consequatur repellat architecto iusto corrupti distinctio possimus ipsa!</p>
      
    </div>
    <%-include('./partials/footer.ejs')%>
</body>
</html>                                                                                                 
                                                                                                                    
                                                                                                                                                                                                      